* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: none;
  list-style: none;
  text-decoration: none;
}

:root {
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);

  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);

  --Quote-font-size: 1.75rem;
  --font-weight: 800;
}

body {
  background-color: var(--Dark-Blue);
  color: var(--Light-Cyan);
}
